
body, h1, h3, h5{
	margin: 0px;
	font-family: Avenir, Helvetica, Arial, "sans-serif";
}

#headline{
	text-align: center;
	margin-top: 20px;
}

#name{
	font-weight: 400;
	font-size: 30px;
}

#subheader{
	color: rgba(74,74,74,1.00);
	font-weight: 400;
	font-size: 20px;
}

#headerDescription{
	font-weight: 400;
	font-size: 12px;
	margin: 15px 0px;
	color: rgba(74,74,74,1.00);
	padding: 0px 30px;
}

#projectViewer{
	border: 1px solid black;
	height: calc(100vw / 2);
	display: flex;
}

#projectViewer > div{
	height: 100%;
    width: 50%;
}

#projectDisplay{
    overflow: hidden;
    background-size: cover;
    background-image: url('zelda.png');
    transition: background-image 0.6s;
}

#projectDescription{
	display: flex;
	flex-direction: column;
}

.linkHeader{
	font-size: 3vw;
	padding: 5px 10px;
}

.shortDescription{
	font-size: 3vw;
	padding: 1px 10px;
}

#projectsContainer{
	display: flex;
	flex-wrap: wrap;
}

.sizeToParent{
	border-radius: 10px;
	width: 90%;
	height: 70px;
	border: 1px solid black;
	background-size: cover;
}

.zelda{
	background-image: url('zelda.png');
}

.restaurant{
	background-image: url('restaurant.png');
}

.travelAgency{
	background-image: url('travelAgency.png');
}

.holder{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 85px;
}

.textOverlay{
	border: 1px solid black;
	border-radius: 10px;
	width: 45%;
	height: 72px;
	position: absolute;
	color: rgba(0, 0, 0, 0);
	font-size: 3vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: color 0.6s, background-color 0.6s;
}

.textOverlay:hover{
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
}

@media screen and (min-width: 450px){

	.linkHeader{
		padding: 10px 20px;
	}

	.shortDescription{
		padding: 1px 20px;
	}

	#name{
		font-size: 7vw;
	}

	#subheader{
		font-size: 4.3vw;
	}

	#headerDescription{
		font-size: 2.8vw;
	}

	.holder{
		height: 19vw;
	}

	.textOverlay{
		height: 16vw;
	}

	.sizeToParent{
		height: 16vw;
	}

}

@media screen and (min-width: 850px){

	#name{
		font-size: 60px;
	}

	#subheader{
		font-size: 35px;
	}

	#headerDescription{
		font-size: 20px;
	}

	#projectViewer{
		width: 70vw;
		height: 35vw;
		margin: auto;
	}

	.shortDescription{
		font-size: 2vw;
	}

	.linkHeader{
		font-size: 2.3vw;
	}

	.holder{
		width: 310px;
		height: 110px;
	}

	.textOverlay{
		height: 100px;
		width: 300px;
		font-size: 20px;
	}

	.sizeToParent{
		height: 100px;
		width: 300px;
	}

	#projectsContainer{
		justify-content: space-evenly;
		padding: 0px 40px 50px;
	}

	#projectViewer{
		margin: 30px auto;
	}

	#headerDescription{
		padding: 0px 110px;
	}

}

@media screen and (min-width: 1000px){

	#projectViewer{
		width: 700px;
		height: 350px;
	}

	.shortDescription{
		font-size: 20px;
	}

	.linkHeader{
		font-size: 23px;
	}

}


